[mysqld]

# General configurations
server-id={{ mysql_instance_id }}
port=3306
symbolic-links=0
max_allowed_packet=50M
max_connections=3000
open_files_limit=16384
net_write_timeout=1800
wait_timeout=1800
interactive_timeout=1800
max_connect_errors=100
character_set_server=utf8
sql-mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

# Path & files
datadir=/data/mysql/databases
tmpdir=/data/mysql/tmp
log-error=/var/log/mysql/mysql.err
pid-file=/data/mysql/pid/mysql.pid
log-bin=/data/mysql/binlogs/bin
relay-log=/data/mysql/relaylogs/relay

# Replication options
{% if mysql_instance_id|int is divisibleby 2 %}
auto-increment-offset=2
{% else %}
auto-increment-offset=1
{% endif %}
auto-increment-increment=2
log-slave-updates
slave_transaction_retries=100
master_info_repository='TABLE'
relay_log_info_repository='TABLE'
replicate-ignore-db=mysql

# InnoDB
innodb_file_per_table=1
innodb_large_prefix=1
innodb_buffer_pool_size=40G
innodb_log_file_size=256M
innodb_log_buffer_size=8M
innodb_lock_wait_timeout=120
innodb_buffer_pool_instances=30
innodb_flush_log_at_trx_commit=0

# Temporary options
# skip-slave-start
# slave-skip-errors = 1062


[mysqldump]
quick
max_allowed_packet = 512M
